body {
  background-color: #f5f7fa;
  font-family: 'Montserrat', sans-serif;
}
/* main content section */
.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1200px;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
.main-content-section {
  padding: 100px 90px;
}
.about-me-section {
  margin: 0 0 40px 0;
}

.about-me-profession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin: 0 0 25px 0;
}
.about-me-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 400px;
}
.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: black;
  margin-bottom: 10px;
}
.my-projects-section {
  margin-bottom: 50 px;
}
.my-projects-list {
  padding: 0 0 0 16px;
}
.my-projects-item {
  color: black;
  font-weight: bold;
}

.my-projects-text {
  margin-left: 5px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-bracket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: black;
}
/* work experience  */

.my-work-experience-company {
  color: #fb6d3a;
}
.my-work-experience-name-company {
  margin: 0 15px 0 0;
}
.data {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.data-bracket {
  font-weight: bold;
  color: black;
}
.my-work-experience-duties-list {
  padding: 0 0 0 18px;
}
.my-work-experience-list {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* my edycation */
.my-education-section {
  padding-top: 43px;
}
.my-education-university {
  color: #fb6d3a;
}

/* sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.contacts-section,
.tech-skills-section,
.soft-skills-section {
  margin: 50px 0 0 40px;
}
.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}
/* contacts section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 7px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  opacity: 0.5;
}
/* tech and soft skills section  */
.tech-skills-list,
.soft-skills-list {
  padding: 0 0 0 17px;
}
.tech-skills-items,
.soft-skills-items {
  color: #fb6d3a;
}
.soft-skills-items-text,
.tech-skills-items-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
